In [ ]:
!pip install Faker
!pip install psycopg2

Requirement already satisfied: Faker in /usr/local/lib/python3.10/dist-packages (24.8.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.10/dist-packages (2.9.9)

In [ ]:
# library imports

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import random
import pymysql
import sqlite3
from datetime import datetime

from faker import Faker

In [ ]:
from faker import Faker

print(faker.__version__)

AttributeError: module 'faker' has no attribute '__version__'

# FUNCTIONS TO GENERATE MOCK DATA

In [ ]:
fake = Faker()

In [ ]:
# metodo para generar varias palabras random para los campos de descripcion
def generate_text(words_number = 20):
  words = fake.words(
      nb = words_number,
      ext_word_list = None,
      unique = False
  )
  text = ' '.join(words).lower()
  return text

In [ ]:
# categorias
def generate_categorias():

  category_data = []

  category_names = [
    "Automotive", "Baby", "Beauty", "Books", "Clothing",
    "Computers", "Electronics", "Games", "Garden", "Grocery",
    "Health", "Home", "Industrial", "Jewelry", "Kids",
    "Movies", "Music", "Outdoors", "Shoes", "Sports",
    "Tools", "Toys"
    ]  # generated with mockaroo

  for name in category_names:
    nombre = name
    descripcion = generate_text(10)
    estado = random.randint(0, 1)
    # sql = f"INSERT INTO categoria(nombre, descripcion, estado) VALUES ({nombre}, {descripcion}, {estado});"
    category_data.append((nombre, descripcion, estado))

  return category_data

In [ ]:
# articulos
def generate_articulos():

  product_data = []

  for i in range(200):
    idcategoria = random.randint(1, 22)
    codigo = fake.ean13(prefixes=('45', '55'))
    nombre = fake.word().capitalize()
    precio_venta = round(random.uniform(1.0, 500.0), 2)
    stock = random.randint(0, 1000)
    descripcion = generate_text(10)
    imagen = fake.file_name(category = 'image')
    estado = random.randint(0, 1)

    product_data.append( (idcategoria, codigo, nombre, precio_venta, stock, descripcion, imagen, estado) )

  return product_data

In [ ]:
# roles
def generate_roles():

  role_data = []

  roles = ['Administrator', 'Manager', 'Cashier']
  for role in roles:
    nombre = role
    descripcion = generate_text(5)
    estado = random.randint(0, 1)
    role_data.append( (nombre, descripcion, estado) )

  return role_data

In [ ]:
# usuarios, 50 en total
def generate_usuarios():

  user_data = []

  for i in range(50):
    nombre = fake.name()
    tipo_documento = random.choice(['DPI', 'Passport'])
    direccion = fake.street_address()
    telefono = fake.phone_number()
    email = fake.email()
    clave = fake.password(length=12, special_chars=True, digits=True, upper_case=True, lower_case=True)
    estado = random.randint(0, 1)

    if i % 25 == 0:
      idrol = 1
    elif i % 10 == 0:
      idrol = 2
    else:
      idrol = 3

    if tipo_documento == 'Passport':
      num_documento = fake.passport_number()
    else:
      num_documento = fake.random_number(digits=13)

    user_data.append( (idrol, nombre, tipo_documento, num_documento, direccion, telefono, email, clave, estado) )

  return user_data

In [ ]:
# personas , 100 proveedores y 500 clientes
def generate_personas():

  personas_data = []

  # provedores
  for i in range(100):
    tipo_persona = 'Supplier'
    nombre = fake.name()
    tipo_documento = random.choice(['DPI', 'Passport'])
    direccion = fake.street_address()
    telefono = fake.phone_number()
    email = fake.email()

    if tipo_documento == 'Passport':
      num_documento = fake.passport_number()
    else:
      num_documento = fake.random_number(digits=13)

    personas_data.append( (tipo_persona, nombre, tipo_documento, num_documento, direccion, telefono, email) )

  # clientes
  for i in range(500):
    tipo_persona = 'Client'
    nombre = fake.name()
    tipo_documento = random.choice(['DPI', 'Passport'])
    direccion = fake.street_address()
    telefono = fake.phone_number()
    email = fake.email()

    if tipo_documento == 'Passport':
      num_documento = fake.passport_number()
    else:
      num_documento = fake.random_number(digits=13)

    personas_data.append( (tipo_persona, nombre, tipo_documento, num_documento, direccion, telefono, email) )

  return personas_data

In [ ]:
# ingresos
def generate_ingreso():
    ingreso_data = []

    for i in range(150):
        idproveedor = random.randint(1, 100)
        idusuario = random.randint(1, 50)
        tipo_comprobante = random.choice(['Invoice', 'Receipt'])
        serie_comprobante = fake.bothify(text='?').upper()
        num_comprobante = serie_comprobante + fake.bothify(text='######')
        fecha = fake.date_between(start_date = datetime(2020, 1, 1).date(), end_date = datetime(2023, 12, 31).date())
        impuesto = round(random.uniform(0, 15), 2)
        total = round(random.uniform(100, 10000), 2)
        estado = random.choice(['Processed', 'Cancelled', 'Pending'])

        ingreso_data.append((idproveedor, idusuario, tipo_comprobante, serie_comprobante, num_comprobante, fecha, impuesto, total, estado))

    return ingreso_data

In [ ]:
# detalle ingresos
def generate_detalle_ingreso():
    detalle_data = []

    for i in range(150):
        idingreso = random.randint(1, 150)
        idarticulo = random.randint(1, 300)
        cantidad = random.randint(1, 2000)
        precio = round(random.uniform(1.0, 1000.0), 2)

        detalle_data.append((idingreso, idarticulo, cantidad, precio))

    return detalle_data

In [ ]:
# ventas
def generate_venta():
    venta_data = []

    for i in range(1000):
        idcliente = random.randint(110, 600)
        idusuario = random.randint(1, 50)
        tipo_comprobante = random.choice(['Invoice', 'Receipt'])
        serie_comprobante = fake.bothify(text='?').upper()
        num_comprobante = serie_comprobante + fake.bothify(text='######')
        fecha = fake.date_between(start_date = datetime(2020, 1, 1).date(), end_date = datetime(2023, 12, 31).date())
        impuesto = round(random.uniform(0, 15), 2)
        total = round(random.uniform(100, 10000), 2)
        estado = random.choice(['Processed', 'Cancelled', 'Pending'])

        venta_data.append((idcliente, idusuario, tipo_comprobante, serie_comprobante, num_comprobante, fecha, impuesto, total, estado))

    return venta_data

In [ ]:
# detalle ventas

def generate_detalle_venta():
    detalle_venta_data = []

    for i in range(10000):
        idventa = random.randint(1, 1000)
        idarticulo = random.randint(1, 300)
        cantidad = random.randint(1, 10)
        precio = round(random.uniform(1.0, 750.0), 2)
        descuento = round(precio * random.uniform(0.05, 0.25), 2)

        detalle_venta_data.append((idventa, idarticulo, cantidad, precio, descuento))

    return detalle_venta_data

## GENERATE DATA

In [ ]:
# generate data

category_data = generate_categorias()
product_data = generate_articulos()
role_data = generate_roles()
user_data = generate_usuarios()
personas_data = generate_personas()
ingreso_data = generate_ingreso()
detalle_data = generate_detalle_ingreso()
venta_data = generate_venta()
detalle_venta_data = generate_detalle_venta()

# BULK INSERT

In [ ]:
# insertar varias categorias
def bulk_insert(conn, insert_query, data_list):
    cursor = conn.cursor()  # Create a cursor object using the connection
    try:
        # bulk insert
        cursor.executemany(insert_query, data_list)
        conn.commit()
        print("Bulk data inserted successfully")
    except sqlite3.Error as error:
        print("Error inserting bulk data", error)
    finally:
        cursor.close()

# DB MYSQL

In [ ]:
# CREAR CONEXION MYSQL

conn = pymysql.connect(host='localhost',
                       user='username',
                       password='password',
                       database='database')

In [ ]:
cursor = conn.cursor()

# CREAR TABLAS EN MYSQL

cursor.execute('''
    CREATE TABLE IF NOT EXISTS categoria (
        idcategoria INT PRIMARY KEY AUTO_INCREMENT,
        nombre VARCHAR(50) NOT NULL,
        descripcion VARCHAR(255),
        estado BIT
    );
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS articulo (
        idarticulo INT PRIMARY KEY AUTO_INCREMENT,
        idcategoria INT,
        codigo VARCHAR(50) NOT NULL,
        nombre VARCHAR(100),
        precio_venta DECIMAL(11, 2),
        stock INT,
        descripcion VARCHAR(255),
        imagen VARCHAR(20),
        estado BIT,
        FOREIGN KEY (idcategoria) REFERENCES categoria(idcategoria)
    );
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS persona(
        idpersona INT PRIMARY KEY AUTO_INCREMENT,
        tipo_persona VARCHAR(20),
        nombre VARCHAR(100),
        tipo_documento VARCHAR(20),
        num_documento VARCHAR(20),
        direccion VARCHAR(70),
        telefono VARCHAR(20),
        email VARCHAR(50)
    );
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS rol(
        idrol INT PRIMARY KEY AUTO_INCREMENT,
        nombre VARCHAR(30) NOT NULL,
        descripcion VARCHAR(255),
        estado BIT
    );
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS usuario(
        idusuario INT PRIMARY KEY AUTO_INCREMENT,
        idrol INT,
        nombre VARCHAR(100),
        tipo_documento VARCHAR(20),
        num_documento VARCHAR(20),
        direccion VARCHAR(20),
        telefono VARCHAR(20),
        email VARCHAR(50),
        clave VARBINARY(255),
        estado BIT,
        FOREIGN KEY (idrol) REFERENCES rol(idrol)
    );
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS ingreso(
        idingreso INT PRIMARY KEY AUTO_INCREMENT,
        idproveedor INT,
        idusuario INT,
        tipo_comprobante VARCHAR(20),
        serie_comprobante VARCHAR(20),
        num_comprobante VARCHAR(10),
        fecha DATETIME,
        impuesto DECIMAL(4, 2),
        total DECIMAL(11, 2),
        estado VARCHAR(20),
        FOREIGN KEY (idproveedor) REFERENCES persona(idpersona),
        FOREIGN KEY (idusuario) REFERENCES usuario(idusuario)
    );
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS venta(
        idventa INT PRIMARY KEY AUTO_INCREMENT,
        idcliente INT,
        idusuario INT,
        tipo_comprobante VARCHAR(20),
        serie_comprobante VARCHAR(7),
        num_comprobante VARCHAR(10),
        fecha DATETIME,
        impuesto DECIMAL(4, 2),
        total DECIMAL(11, 2),
        estado VARCHAR(20),
        FOREIGN KEY (idcliente) REFERENCES persona(idpersona),
        FOREIGN KEY (idusuario) REFERENCES usuario(idusuario)
    );
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS detalle_venta(
        iddetalle_venta INT PRIMARY KEY AUTO_INCREMENT,
        idventa INT,
        idarticulo INT,
        cantidad INT,
        precio DECIMAL(11, 2),
        descuento DECIMAL(11, 2),
        FOREIGN KEY (idventa) REFERENCES venta(idventa)
    );
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS detalle_ingreso(
        iddetalle_ingreso INT PRIMARY KEY AUTO_INCREMENT,
        idingreso INT,
        idarticulo INT,
        cantidad INT,
        precio DECIMAL(11, 2),
        FOREIGN KEY (idingreso) REFERENCES ingreso(idingreso)
    );
''')

conn.commit()
cursor.close()

In [ ]:
# QUERIES DE INSERTAR PARA MYSQL

insert_MYSQL_categoria = """
    INSERT INTO categoria (nombre, descripcion, estado)
    VALUES (%s, %s, %s)
"""

insert_MYSQL_articulo = """
    INSERT INTO articulo (idcategoria, codigo, nombre, precio_venta, stock, descripcion, imagen, estado)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
"""

insert_MYSQL_persona = """
    INSERT INTO persona (tipo_persona, nombre, tipo_documento, num_documento, direccion, telefono, email)
    VALUES (%s, %s, %s, %s, %s, %s, %s)
"""

insert_MYSQL_rol = """
    INSERT INTO rol (nombre, descripcion, estado)
    VALUES (%s, %s, %s)
"""

insert_MYSQL_usuario = """
    INSERT INTO usuario (idrol, nombre, tipo_documento, num_documento, direccion, telefono, email, clave, estado)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

insert_MYSQL_ingreso = """
    INSERT INTO ingreso (idproveedor, idusuario, tipo_comprobante, serie_comprobante, num_comprobante, fecha, impuesto, total, estado)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

insert_MYSQL_venta = """
    INSERT INTO venta (idcliente, idusuario, tipo_comprobante, serie_comprobante, num_comprobante, fecha, impuesto, total, estado)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

insert_MYSQL_detalle_venta = """
    INSERT INTO detalle_venta (idventa, idarticulo, cantidad, precio, descuento)
    VALUES (%s, %s, %s, %s, %s)
"""

insert_MYSQL_detalle_ingreso = """
    INSERT INTO detalle_ingreso (idingreso, idarticulo, cantidad, precio)
    VALUES (%s, %s, %s, %s)
"""

## BULK INSERTS MYSQL

In [ ]:
bulk_insert(conn, insert_MYSQL_categoria, category_data)
bulk_insert(conn, insert_MYSQL_articulo, product_data)
bulk_insert(conn, insert_MYSQL_rol, role_data)
bulk_insert(conn, insert_MYSQL_usuario, user_data)
bulk_insert(conn, insert_MYSQL_persona, personas_data)
bulk_insert(conn, insert_MYSQL_ingreso, ingreso_data)
bulk_insert(conn, insert_MYSQL_detalle_ingreso, detalle_data)
bulk_insert(conn, insert_MYSQL_venta, venta_data)
bulk_insert(conn, insert_MYSQL_detalle_venta, detalle_venta_data)

# DB SQL LITE

In [ ]:
conn_sqlite = sqlite3.connect('pj_final.db')

In [ ]:
cursor = conn_sqlite.cursor()

# categoria
cursor.execute('''
    CREATE TABLE IF NOT EXISTS categoria (
        idcategoria INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre VARCHAR(50) NOT NULL,
        descripcion VARCHAR(255),
        estado BIT
    );
''')

# articulo
cursor.execute('''
    CREATE TABLE IF NOT EXISTS articulo (
        idarticulo INTEGER PRIMARY KEY AUTOINCREMENT,
        idcategoria INTEGER,
        codigo VARCHAR(50) NOT NULL,
        nombre VARCHAR(100),
        precio_venta DECIMAL(11, 2),
        stock INT,
        descripcion VARCHAR(255),
        imagen VARCHAR(20),
        estado BIT,
        FOREIGN KEY (idcategoria) REFERENCES categoria(idcategoria)
    );
''')

# persona
cursor.execute('''
    CREATE TABLE IF NOT EXISTS persona(
        idpersona INTEGER PRIMARY KEY AUTOINCREMENT,
        tipo_persona VARCHAR(20),
        nombre VARCHAR(100),
        tipo_documento VARCHAR(20),
        num_documento VARCHAR(20),
        direccion VARCHAR(70),
        telefono VARCHAR(20),
        email VARCHAR(50)
    );
''')

# rol
cursor.execute('''
    CREATE TABLE IF NOT EXISTS rol(
        idrol INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre VARCHAR(30) NOT NULL,
        descripcion VARCHAR(255),
        estado BIT
    );
''')

# usuario
cursor.execute('''
    CREATE TABLE IF NOT EXISTS usuario(
        idusuario INTEGER PRIMARY KEY AUTOINCREMENT,
        idrol INTEGER,
        nombre VARCHAR(100),
        tipo_documento VARCHAR(20),
        num_documento VARCHAR(20),
        direccion VARCHAR(20),
        telefono VARCHAR(20),
        email VARCHAR(50),
        clave VARBINARY(255),
        estado BIT,
        FOREIGN KEY (idrol) REFERENCES rol(idrol)
    );
''')

# ingreso
cursor.execute('''
    CREATE TABLE IF NOT EXISTS ingreso(
        idingreso INTEGER PRIMARY KEY AUTOINCREMENT,
        idproveedor INTEGER,
        idusuario INTEGER,
        tipo_comprobante VARCHAR(20),
        serie_comprobante VARCHAR(20),
        num_comprobante VARCHAR(10),
        fecha DATETIME,
        impuesto DECIMAL(4, 2),
        total DECIMAL(11, 2),
        estado VARCHAR(20),
        FOREIGN KEY (idproveedor) REFERENCES persona(idpersona),
        FOREIGN KEY (idusuario) REFERENCES usuario(idusuario)
    );
''')

# venta
cursor.execute('''
    CREATE TABLE IF NOT EXISTS venta(
        idventa INTEGER PRIMARY KEY AUTOINCREMENT,
        idcliente INTEGER,
        idusuario INTEGER,
        tipo_comprobante VARCHAR(20),
        serie_comprobante VARCHAR(7),
        num_comprobante VARCHAR(10),
        fecha DATETIME,
        impuesto DECIMAL(4, 2),
        total DECIMAL(11, 2),
        estado VARCHAR(20),
        FOREIGN KEY (idcliente) REFERENCES persona(idpersona),
        FOREIGN KEY (idusuario) REFERENCES usuario(idusuario)
    );
''')

# detalle_venta
cursor.execute('''
    CREATE TABLE IF NOT EXISTS detalle_venta(
        iddetalle_venta INTEGER PRIMARY KEY AUTOINCREMENT,
        idventa INTEGER,
        idarticulo INTEGER,
        cantidad INT,
        precio DECIMAL(11, 2),
        descuento DECIMAL(11, 2),
        FOREIGN KEY (idventa) REFERENCES venta(idventa)
    );
''')

# detalle_ingreso
cursor.execute('''
    CREATE TABLE IF NOT EXISTS detalle_ingreso(
        iddetalle_ingreso INTEGER PRIMARY KEY AUTOINCREMENT,
        idingreso INTEGER,
        idarticulo INTEGER,
        cantidad INT,
        precio DECIMAL(11, 2),
        FOREIGN KEY (idingreso) REFERENCES ingreso(idingreso)
    );
''')

conn_sqlite.commit()
cursor.close()

In [ ]:
# insert queries

insert_query_categoria = """
    INSERT INTO categoria (nombre, descripcion, estado)
    VALUES (?, ?, ?)
"""

insert_query_articulo = """
    INSERT INTO articulo (idcategoria, codigo, nombre, precio_venta, stock, descripcion, imagen, estado)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?)
"""

insert_query_persona = """
    INSERT INTO persona (tipo_persona, nombre, tipo_documento, num_documento, direccion, telefono, email)
    VALUES (?, ?, ?, ?, ?, ?, ?)
"""

insert_query_rol = """
    INSERT INTO rol (nombre, descripcion, estado)
    VALUES (?, ?, ?)
"""

insert_query_usuario = """
    INSERT INTO usuario (idrol, nombre, tipo_documento, num_documento, direccion, telefono, email, clave, estado)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
"""

insert_query_ingreso = """
    INSERT INTO ingreso (idproveedor, idusuario, tipo_comprobante, serie_comprobante, num_comprobante, fecha, impuesto, total, estado)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
"""

insert_query_venta = """
    INSERT INTO venta (idcliente, idusuario, tipo_comprobante, serie_comprobante, num_comprobante, fecha, impuesto, total, estado)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
"""

insert_query_detalle_venta = """
    INSERT INTO detalle_venta (idventa, idarticulo, cantidad, precio, descuento)
    VALUES (?, ?, ?, ?, ?)
"""

insert_query_detalle_ingreso = """
    INSERT INTO detalle_ingreso (idingreso, idarticulo, cantidad, precio)
    VALUES (?, ?, ?, ?)
"""

In [ ]:
bulk_insert(conn_sqlite, insert_query_categoria, category_data)
bulk_insert(conn_sqlite, insert_query_articulo, product_data)
bulk_insert(conn_sqlite, insert_query_rol, role_data)
bulk_insert(conn_sqlite, insert_query_usuario, user_data)
bulk_insert(conn_sqlite, insert_query_persona, personas_data)
bulk_insert(conn_sqlite, insert_query_ingreso, ingreso_data)
bulk_insert(conn_sqlite, insert_query_detalle_ingreso, detalle_data)
bulk_insert(conn_sqlite, insert_query_venta, venta_data)
bulk_insert(conn_sqlite, insert_query_detalle_venta, detalle_venta_data)

Bulk data inserted successfully
Bulk data inserted successfully
Bulk data inserted successfully
Bulk data inserted successfully
Bulk data inserted successfully
Bulk data inserted successfully
Bulk data inserted successfully
Bulk data inserted successfully
Bulk data inserted successfully

In [ ]:
cursor = conn_sqlite.cursor()

cursor.execute("SELECT * FROM categoria;")
rows = cursor.fetchall()
for row in rows:
    print(row)

cursor.close()

In [ ]:
cursor = conn_sqlite.cursor()

cursor.execute("SELECT * FROM articulo;")
rows = cursor.fetchall()
for row in rows:
    print(row)

cursor.close()

In [ ]:
cursor = conn_sqlite.cursor()

cursor.execute("SELECT * FROM persona;")
rows = cursor.fetchall()
for row in rows:
    print(row)

cursor.close()

In [ ]:
cursor = conn_sqlite.cursor()

cursor.execute("SELECT * FROM rol;")
rows = cursor.fetchall()
for row in rows:
    print(row)

cursor.close()

In [ ]:
cursor = conn_sqlite.cursor()
cursor.execute("SELECT * FROM usuario;")
rows = cursor.fetchall()
for row in rows:
    print(row)
cursor.close()

In [ ]:
cursor = conn_sqlite.cursor()
cursor.execute("SELECT * FROM ingreso;")
rows = cursor.fetchall()
for row in rows:
    print(row)
cursor.close()

In [ ]:
cursor = conn_sqlite.cursor()
cursor.execute("SELECT * FROM venta;")
rows = cursor.fetchall()
for row in rows:
    print(row)
cursor.close()

In [ ]:
cursor = conn_sqlite.cursor()
cursor.execute("SELECT * FROM detalle_venta;")
rows = cursor.fetchall()
for row in rows:
    print(row)
cursor.close()

In [ ]:
cursor = conn_sqlite.cursor()
cursor.execute("SELECT * FROM detalle_ingreso;")
rows = cursor.fetchall()
for row in rows:
    print(row)
cursor.close()

In [ ]:
import csv
import sqlite3

# Function to export a table to a CSV file
def export_table_to_csv(conn, table_name, csv_file_path):
    cursor = conn.cursor()
    cursor.execute(f"SELECT * FROM {table_name};")
    rows = cursor.fetchall()

    # Get column headers
    columns = [description[0] for description in cursor.description]

    with open(csv_file_path, 'w', newline='', encoding='utf-8') as file:
        csv_writer = csv.writer(file)
        csv_writer.writerow(columns)  # write the headers
        csv_writer.writerows(rows)  # write the data

    print(f"Table {table_name} exported to {csv_file_path}")

# Example usage
conn_sqlite = sqlite3.connect('pj_final.db')  # Connect to your database

# Export each table to a separate CSV file
export_table_to_csv(conn_sqlite, 'categoria', 'categoria.csv')
export_table_to_csv(conn_sqlite, 'articulo', 'articulo.csv')
export_table_to_csv(conn_sqlite, 'persona', 'persona.csv')
export_table_to_csv(conn_sqlite, 'rol', 'rol.csv')
export_table_to_csv(conn_sqlite, 'usuario', 'usuario.csv')
export_table_to_csv(conn_sqlite, 'ingreso', 'ingreso.csv')
export_table_to_csv(conn_sqlite, 'venta', 'venta.csv')
export_table_to_csv(conn_sqlite, 'detalle_venta', 'detalle_venta.csv')
export_table_to_csv(conn_sqlite, 'detalle_ingreso', 'detalle_ingreso.csv')

conn_sqlite.close()  # Close the database connection

Table categoria exported to categoria.csv
Table articulo exported to articulo.csv
Table persona exported to persona.csv
Table rol exported to rol.csv
Table usuario exported to usuario.csv
Table ingreso exported to ingreso.csv
Table venta exported to venta.csv
Table detalle_venta exported to detalle_venta.csv
Table detalle_ingreso exported to detalle_ingreso.csv